
.form{
    position: relative;
    display:flex;
    padding: 10px 10px;
    border: 1px solid #000;
    align-self:center;
    align-items: flex-start;
    width: 500px;
    }

.button-send{
    top :5px;
    right: 5px;
    position: absolute;
    justfi: baseline;
    margin: 5px;
      background-color:#7892c2;
    border-radius:10px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:19px;
    padding:12px 37px;
    text-decoration:none;
}

.btn-apagar{
    background-color: red;
}
.btn-editar{
    background-color: orange;
}


.buttons{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
}

.input_msg{
vertical-align: top;
justify-content:flex-start;
padding: 5px;
height: 250px;
width: 350px;
justify-content: flex-end;
}

h1{
    background-color: #C4C4C4;
    font-size: 30px;
    font-weight: 600;
    padding: 0 4rem;
    border: 1px solid;
    padding: 1em;

}

.main{
    position: relative;
    margin: 2rem 10rem;
    display: flex;
    flex-direction: column ;
    justify-content:baseline;
    height: 800px;
    flex-wrap: ;
    
    border: 1px solid;
}

#submit{
    justify-self: end;
    align-self:center;
}

    

.msg-list{
height: 423px;
overflow-y: scroll;}


.inner_message{
    margin:5px;
    padding:5px;
    border:1px solid;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    overflow-y: scroll;
    
}